asgiref
async-generator
attrs
autopep8
certifi
cffi
colorama
coverage
cryptography
Django
django-cors-headers
django-debug-toolbar
djangorestframework
djangorestframework-simplejwt
docopt
Faker
flake8
gunicorn
h11
idna
iniconfig
mccabe
mypy
mypy-extensions
outcome
packaging
parameterized
Pillow
pluggy
py
pycodestyle
pycparser
pyflakes
PyJWT
pyOpenSSL
pyparsing
pytest
pytest-django
pytest-dotenv
pytest-watch
python-dateutil
python-dotenv
pytz
selenium
six
sniffio
sortedcontainers
sqlparse
text-unidecode
toml
trio
trio-websocket
typing_extensions
urllib3
watchdog
whitenoise
wsproto